.text {
    width: 80%;
    float: left;
    padding-top: 20px;
    padding-bottom: 50px;
}

#text_title {
    padding-top: 20px;
    text-align: center;
    font-size: 36px;
    color: darkslategray;
}

#text_info {
    padding-top: 8px;
    text-align: center;
    font-size: 18px;
}

#text_content {
    padding-top: 18px;
    text-indent: 32px;
    padding-left: 10%;
    padding-right: 10%;
    line-height: 32px;
    font-size: 20px;
    padding-bottom: 40px;
}