.content{
    float:left;
    width:80%;
    padding-top:30px;
    padding-bottom:30px;
}
.content_title{
    padding-left:50px;
    padding-top:18px;
    font-size:20px;
    border-bottom:1px solid gray;
}

.limitpage{
    padding-top:16px;
    text-align:center;
    font-size:24px;
    color:darkred;
}

.content_title a{
    color:darkred;
}
.content_title a:hover,a:active{
    color:red;
}
